@font-face {
    font-family: benzin;
    src: url(../font/Benzin-Font/Benzin-Bold.ttf);
}

* {

    padding: 0;
    margin: 0;

}

html {

    padding: 0;
    margin: 0;
    background-color: #B51F19;

}

body {

    width: 100vw;

}

header {

    display: flex;
    width: 100vw;
    height: 900px;
    background-image: url("../img/bg_cardapio.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;

}

header > img {

    display: flex;
    width: 30vw;
    height: 790px;
    margin: 0 auto;
    scale: 0.9;

}

header > a {

    display: flex;
    width: 40vw;
    height: 70px;
    color: #B51F19;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
    margin: 0 auto;
    font-family: benzin;
    font-size: 32px;
    text-decoration: none;
    justify-content: center;
    padding-top: 20px;

}

@media screen and (min-width: 300px) and (max-width: 768px) {


    header {

    height: 700px;

    }

    header > img {

    display: flex;
    width: 80vw;
    height: 540px;
    margin: 0 auto;
    scale: 0.9;

    }

    
    header > a {


        width: 80vw;
        height: 50px;
        font-size: 16px;
        padding-top: 30px;

    }

}